@tailwind base;
@tailwind components;
@tailwind utilities;

//- sweert alert theme
@import "@sweetalert2/theme-minimal/minimal.scss";

.grid-parent {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
}

h2.hr {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2.hr span.hr-text {
  background: #fff;
  padding: 0 10px;
}

.swal2-container {
  z-index: 20000 !important;
}
